.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: var(--secondary-color);
}

.my-4 {
  margin: 3rem 0;
}
